/* Base styles (default for all screen sizes) */
body {
    font-family: poppins;
    margin: 0;
    padding: 0;
}

/* Styles for screens up to 400px */
@media all and (min-width: 400px) {
.content{
    margin: auto 50px;
}
  
}

/* Styles for screens up to 576px */
@media (min-width: 576px) {
    .content{
        margin: auto 130px;
    }

    .form-contain{
        margin: 0rem 0.5rem;
    }
    .half-2{
        margin: 5rem 0.1rem;
    }
    .custom-select select{
        width: 260.5px;
    }
  
}

/* Styles for screens up to 768px */
@media (min-width: 768px) {
    .content{
        margin: auto 230px;
    }
    .form-contain{
        margin: 0rem 0.3rem;
    }
    .half-2{
        margin: 5rem 0rem;
    }
    .custom-select select{
        width: 260.5px;
    }
  
}

/* Styles for screens up to 992px */
@media (min-width: 992px) {
    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
        margin: auto 150px;
    }
    .form-contain{
        margin: 0rem 1rem;
    }
    .custom-select select{
        width: 261.5px;
    }
  .foot-contain{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Styles for screens up to 1280px */
@media (min-width: 1280px) {
    .content{
        margin: auto 290px;
    }
}

/* Styles for screens up to 1440px */
@media (min-width: 1440px) {
    .content{
        margin: auto 380px;
    }
}