@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8F4E3;
}

h1, h3 {
    color: #4A2F15;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.img, .cut-1, .bottom h3, .extra, .foot-1, .foot-2, .foot-3, .foot-4 {
    text-align: center;
}
.foot-1, .foot-2, .foot-3, .foot-4{
    margin-bottom: 1rem;
}
.hands {
    width: 250px;
}

.container {
    margin: 0 10px;
}

a {
    text-decoration: none;
}

.button {
    background-color: #5A3E1B;
    color: white;
    padding: 0.5rem 0.8rem;
    border-radius: 0.2rem;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.button:hover {
    color: #5A3E1B;
    background-color: white;
}

.bottom p {
    font-size: 0.9rem;
}

.form-contain {
    padding: 2rem 0.5rem;
    background-color: grey;
    border-radius: 0.2rem;
    border: 1px solid white;
}

.input {
    margin-bottom: 0.5rem;
    width: 200px;
    height: 25px;
    border-radius: 0.2rem;
    border: 1px solid white;
}

input[type="email"] {
    margin-left: 0.4rem;
}

input[type="number"] {
    margin-left: 0.1rem;
}

form .btn{
    background-color: #5A3E1B;
    color: white;
    padding: 0.3rem 6.65rem;
    border-radius: 0.2rem;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.half-2 {
    margin-top: 5rem;
}

ul li {
    list-style-type: none;
}

ul li .change {
    margin-bottom: 1.5rem;
}
.list a{
    color: black ;
}
.list a:hover{
    color: rgb(54, 54, 54);
}
.change i{
    margin-right: 1rem;
}
footer {
    background-color: black;
    color: white;
}

.foot-contain {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
    padding-top: 1rem;
    color: white;
}

.foot-contain .logo {
    width: 100px;
}

.foot-contain a {
    color: white;
}

.foot-contain a:hover {
    color: #F8F4E3;
}

a .join {
    margin-top: 1rem;
}

.extra{
    background-color: rgb(36, 35, 35);
    
    padding: 1.5rem 1rem;
}

.extra .quote{
    margin-bottom: 0.8rem;
    font-size: 0.85rem;
}
.extra .copy{
    font-size: 0.75rem;
}
.extra p{
    font-size:0.75rem ;
}
.extra strong{
    color: #f5d0ad;
}
